---
layout: default
---

<main class="posts">

    <section class="posts-list">
    {% if site.posts.size > 0 %}
      <ul class="post-list-compact">
        {% for post in site.posts %}
          <li class="post-compact">
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <span class="post-date"> — {{ post.date | date: "%B %-d, %Y" }}</span>
          </li>
        {% endfor %}
      </ul>
    {% else %}
    There are no posts.
    {% endif %}
  </section>
</main>
